$white: #ffffff;
.call-to-action-center {
	background: url(http://lorempixel.com/1920/1080/sports/) center top no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 140px 0;
	h1 {
		font-size: 60px;
		color: $white;
	}
	h2 {
		font-weight: 600;
		color: $white;
	}
	a {
		margin-top: 40px;
	}
}